<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appccelerate.Development" version="0.27" targetFramework="net45" />
  <package id="Appccelerate.Development.ProductionCode" version="0.27" targetFramework="net45" />
  <package id="EnableFaking.Fody" version="0.1.0" targetFramework="net45" />
  <package id="Fody" version="1.15.0.0" targetFramework="net45" />
  <package id="GitFlowVersionTask" version="0.19.0" targetFramework="net45" />
  <package id="StyleCop.MSBuild" version="4.7.48.2" targetFramework="net45" developmentDependency="true" />
</packages>